<h1>Create New Post</h1>
<% 'Signed in as: ' + post.member.displayname %>
<%= form_with model: @post do |form| %>
  <%= label(:post, :content) %>
  <%= form.text_area :content, value: "Write your post." %>
  <%= form.submit %>
<% end %>